.container{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: fit-content;
    min-width: 5vw;
    background-color: var(--background-layout);
    padding: 0.5vw;
    border-radius: 0.5vw;

    position: relative;
}
.input_container{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: var(--background-light);
    cursor: pointer;
}
.input_container input{
    cursor: pointer;
    width: 10vw;
    font-size: var(--font-size-input);

}
.options_container{
    display: none;
    position: absolute;
    left: 0;
    top: 8vw;
    flex-direction: column;
    width: 100%;
    padding: 0.5vw;
    border-radius: 0.5vw;
    background-color: var(--background-layout);
    max-height: 10vw;
    overflow-y: auto;
    z-index: 10;
    box-shadow: 0 0 1vw rgba(224, 224, 224, 0.2);

}

.options_container.active{
    display: flex;
}
.option{
    width: 100%;
    padding: 0.2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
    font-size: var(--font-size-input);


}
.option:hover{
    background-color: var(--background-darkness);
}

.container{
    font-size: var(--font-size-label);

}