.menu_bar {
    display: flex;
    user-select: none;
    height: 100%;
}

.menu_item {
    position: relative;
    cursor: default;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background: #222;
    color: white;
}

.menu_item:hover {
    border-radius: 0.5vw ;
    background: #444;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    min-width: 100%;
    width: fit-content;
    border: 0.1vw solid #555;
    z-index: 100;
}

.dropdown .menu_item, .label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1vw;
    font-size: var(--font-size-input);
    text-align: left;
}



.dropdown .dropdown {
    top: 0;
    left: 100%;
}
