
html{
    max-width: 100vw;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--background-main);
    min-height: 100vh;
}
:root{
    --background-main: #191919;
    --background-light: #b0b0b0;
    --background-darkness: #4b4b4b;
    --background-layout: #313131;

    --underline-white: white;
    --underline-light: rgb(201, 201, 201);
    --underline-darkness: rgb(61, 61, 61);
    --underline-black: black;




}