.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1vw;
    min-height: 1vw;
}


.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}